In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=a883c6fd9313b1615ba928701e68fca1b1ba95add9515bf07cd43d818e5cb9c7
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
!pip install pandas openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pyspark
import pandas as pd
pd.read_excel('Data_pyspark.xlsx')

       Name  Age
0      amen   23
1     gouga   23
2     kouka   20
3   ranouna   21
4     touta   22
5  hachoumi   23
6    lo3mor   23

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('Data_pyspark.xlsx')

# Save as CSV
df.to_csv('data.csv', index=False)

In [ ]:
df_pyspark = spark.read.csv('data.csv')
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|    amen| 23|
|   gouga| 23|
|   kouka| 20|
| ranouna| 21|
|   touta| 22|
|hachoumi| 23|
|  lo3mor| 23|
+--------+---+

In [ ]:
spark.read.option('header','true').csv('data.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|    amen| 23|
|   gouga| 23|
|   kouka| 20|
| ranouna| 21|
|   touta| 22|
|hachoumi| 23|
|  lo3mor| 23|
+--------+---+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
# Read the Excel file
df = pd.read_excel('data2.xlsx')

# Save as CSV
df.to_csv('data2.csv', index=False)

In [ ]:
df_pyspark2 = spark.read.option('header','true').csv('data2.csv',inferSchema=True)

In [ ]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_pyspark = spark.read.csv('data2.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|    amen| 23|         2|
|   gouga| 23|         3|
|   kouka| 20|         2|
| ranouna| 21|         2|
|   touta| 22|         2|
|hachoumi| 23|         1|
|  lo3mor| 23|         1|
+--------+---+----------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='amen', Age=23, Experience=2),
 Row(Name='gouga', Age=23, Experience=3),
 Row(Name='kouka', Age=20, Experience=2)]

In [ ]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|    amen| 23|         2|
|   gouga| 23|         3|
|   kouka| 20|         2|
| ranouna| 21|         2|
|   touta| 22|         2|
|hachoumi| 23|         1|
|  lo3mor| 23|         1|
+--------+---+----------+

In [ ]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|    amen|         2|
|   gouga|         3|
|   kouka|         2|
| ranouna|         2|
|   touta|         2|
|hachoumi|         1|
|  lo3mor|         1|
+--------+----------+

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    7|                 7|                 7|
|   mean| null|22.142857142857142|1.8571428571428572|
| stddev| null|1.2149857925879117|0.6900655593423543|
|    min| amen|                20|                 1|
|    max|touta|                23|                 3|
+-------+-----+------------------+------------------+

In [ ]:
 df_pyspark=df_pyspark.withColumn('Experience after 2 yers',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience after 2 yers|
+--------+---+----------+-----------------------+
|    amen| 23|         2|                      4|
|   gouga| 23|         3|                      5|
|   kouka| 20|         2|                      4|
| ranouna| 21|         2|                      4|
|   touta| 22|         2|                      4|
|hachoumi| 23|         1|                      3|
|  lo3mor| 23|         1|                      3|
+--------+---+----------+-----------------------+

In [ ]:
df_pyspark=df_pyspark.drop('Experience after 2 yers')

In [ ]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|    amen| 23|         2|
|   gouga| 23|         3|
|   kouka| 20|         2|
| ranouna| 21|         2|
|   touta| 22|         2|
|hachoumi| 23|         1|
|  lo3mor| 23|         1|
+--------+---+----------+

In [ ]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    amen| 23|         2|
|   gouga| 23|         3|
|   kouka| 20|         2|
| ranouna| 21|         2|
|   touta| 22|         2|
|hachoumi| 23|         1|
|  lo3mor| 23|         1|
+--------+---+----------+