In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=15cca26967d91d484f787e85200c1b082f0af97c48ecf39ecf2fe16c3a3827f3
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('tuto').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('data3.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    amen|  23|         2| 10000|
|   gouga|  23|         3| 12000|
|   kouka|  20|         2|  5000|
| ranouna|  21|         2|  5000|
|   touta|  22|         2| 15000|
|hachoumi|  23|         1|  8500|
|  lo3mor|  23|         1|  9000|
|    null|  15|         0|  1000|
|    null|  36|      null|   500|
|   ahmed|null|         2|  null|
+--------+----+----------+------+

In [4]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    amen| 23|         2| 10000|
|   gouga| 23|         3| 12000|
|   kouka| 20|         2|  5000|
| ranouna| 21|         2|  5000|
|   touta| 22|         2| 15000|
|hachoumi| 23|         1|  8500|
|  lo3mor| 23|         1|  9000|
+--------+---+----------+------+

In [5]:
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    amen| 23|         2| 10000|
|   gouga| 23|         3| 12000|
|   kouka| 20|         2|  5000|
| ranouna| 21|         2|  5000|
|   touta| 22|         2| 15000|
|hachoumi| 23|         1|  8500|
|  lo3mor| 23|         1|  9000|
+--------+---+----------+------+

In [6]:
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    amen| 23|         2| 10000|
|   gouga| 23|         3| 12000|
|   kouka| 20|         2|  5000|
| ranouna| 21|         2|  5000|
|   touta| 22|         2| 15000|
|hachoumi| 23|         1|  8500|
|  lo3mor| 23|         1|  9000|
|    null| 15|         0|  1000|
+--------+---+----------+------+

In [7]:
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|    amen|  23|         2| 10000|
|   gouga|  23|         3| 12000|
|   kouka|  20|         2|  5000|
| ranouna|  21|         2|  5000|
|   touta|  22|         2| 15000|
|hachoumi|  23|         1|  8500|
|  lo3mor|  23|         1|  9000|
|    null|  15|         0|  1000|
|   ahmed|null|         2|  null|
+--------+----+----------+------+

In [8]:
df_pyspark.na.fill('Missing Values','Name').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|          amen|  23|         2| 10000|
|         gouga|  23|         3| 12000|
|         kouka|  20|         2|  5000|
|       ranouna|  21|         2|  5000|
|         touta|  22|         2| 15000|
|      hachoumi|  23|         1|  8500|
|        lo3mor|  23|         1|  9000|
|Missing Values|  15|         0|  1000|
|Missing Values|  36|      null|   500|
|         ahmed|null|         2|  null|
+--------------+----+----------+------+

In [9]:
from pyspark.ml.feature import Imputer 
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
                            ).setStrategy("median")

In [10]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|    amen|  23|         2| 10000|         23|                 2|         10000|
|   gouga|  23|         3| 12000|         23|                 3|         12000|
|   kouka|  20|         2|  5000|         20|                 2|          5000|
| ranouna|  21|         2|  5000|         21|                 2|          5000|
|   touta|  22|         2| 15000|         22|                 2|         15000|
|hachoumi|  23|         1|  8500|         23|                 1|          8500|
|  lo3mor|  23|         1|  9000|         23|                 1|          9000|
|    null|  15|         0|  1000|         15|                 0|          1000|
|    null|  36|      null|   500|         36|                 2|           500|
|   ahmed|null|         2|  null|         23|                 2|          8500|
+--------+----+----------+------+-----------+------------------+--------------+

In [11]:
df_pyspark=df_pyspark.na.drop(how="any")
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    amen| 23|         2| 10000|
|   gouga| 23|         3| 12000|
|   kouka| 20|         2|  5000|
| ranouna| 21|         2|  5000|
|   touta| 22|         2| 15000|
|hachoumi| 23|         1|  8500|
|  lo3mor| 23|         1|  9000|
+--------+---+----------+------+

**Filter Operations:**

In [12]:
df_pyspark.filter("Salary <= 6000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  kouka| 20|         2|  5000|
|ranouna| 21|         2|  5000|
+-------+---+----------+------+

In [13]:
df_pyspark.filter("Salary <= 6000").select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  kouka| 20|
|ranouna| 21|
+-------+---+

In [14]:
df_pyspark.filter(df_pyspark['Salary']< 6000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  kouka| 20|         2|  5000|
|ranouna| 21|         2|  5000|
+-------+---+----------+------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']> 9000) & (df_pyspark['Salary'] < 12000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|amen| 23|         2| 10000|
+----+---+----------+------+

In [16]:
df_pyspark.filter(~(df_pyspark['Salary'] < 6000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|    amen| 23|         2| 10000|
|   gouga| 23|         3| 12000|
|   touta| 22|         2| 15000|
|hachoumi| 23|         1|  8500|
|  lo3mor| 23|         1|  9000|
+--------+---+----------+------+

# **Pyspark GroupBy And Aggregate Functions :**

In [17]:
from pyspark.sql import SparkSession

In [19]:
spark = SparkSession.builder.appName("ahmed").getOrCreate()

In [20]:
spark

In [23]:
df_spark = spark.read.csv('data4.csv',header=True,inferSchema=True)

In [24]:
df_spark.show()

+--------+---------------+------+
|    Name|     Department|Salary|
+--------+---------------+------+
|    amen|             AI| 12000|
|   gouga|             AI|  3000|
|   kouka|         Bio-AI| 50000|
| ranouna|Genie génétique| 22222|
|   touta|            Web| 15156|
|hachoumi|            Web|   222|
|  lo3mor|   comptabilité| 22222|
+--------+---------------+------+

In [25]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [30]:
df_spark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|  lo3mor|      22222|
| ranouna|      22222|
|   kouka|      50000|
|hachoumi|        222|
|    amen|      12000|
|   gouga|       3000|
|   touta|      15156|
+--------+-----------+

In [33]:
df_spark.groupBy('Department').mean().show()

+---------------+-----------+
|     Department|avg(Salary)|
+---------------+-----------+
|         Bio-AI|    50000.0|
|   comptabilité|    22222.0|
|             AI|     7500.0|
|Genie génétique|    22222.0|
|            Web|     7689.0|
+---------------+-----------+

In [34]:
df_spark.groupBy('Department').count().show()

+---------------+-----+
|     Department|count|
+---------------+-----+
|         Bio-AI|    1|
|   comptabilité|    1|
|             AI|    2|
|Genie génétique|    1|
|            Web|    2|
+---------------+-----+

In [35]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      64500|
+-----------+

In [39]:
df_spark.groupBy('Name').avg().show()

+--------+-----------+
|    Name|avg(Salary)|
+--------+-----------+
|  lo3mor|    22222.0|
| ranouna|    22222.0|
|   kouka|    50000.0|
|hachoumi|      222.0|
|    amen|    12000.0|
|   gouga|     3000.0|
|   touta|    15156.0|
+--------+-----------+